/*  HEADER  */

.navbar { background: #9FCDFF; }

.navbar .navbar-brand { color: #343A40; }

.navbar .navbar-brand:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



/*  BASE PAGE  */
.help-block {
    color: #c82333;
}

.numberinput { width: 95%; }

.number-form {
    border-top: 1px solid #ede8e8;
    border-bottom: 1px solid #ede8e8;
    padding-left: 25%;
    box-shadow: 0px 0px 7px black;
}





/*  ADMIN PANEL  */
.admin-panel {
  border: 1px solid #999;
  border-radius: 2px;
  position:fixed;
  left: 50px;
  top: 100px;
  opacity: 0.5;
  padding: 15px;
}

.admin-panel a {
  display: block;
  margin: 5px 0px;
}

.admin-panel:hover {
  opacity: 1;
}