{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>
        {% block title %}ProfBIT Management{% endblock %}
    </title>

</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
      <a class="navbar-brand" href="/">MANAGEMENT</a>
    </nav>


    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog" role="document" id="change-modal">
          <div class="modal-content"></div>
        </div>
    </div>



    {% if messages %}
        {% for message in messages %}
            <div class = 'alert alert-{{ message.tags }}'>
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}



    <div class="admin-panel align-items-center">
        <a href="{% url 'orders:base_view' %}" class='btn btn-outline-success d-block'>Создать заказы</a>
        <a href="{% url 'orders:order_by_date' %}" class='btn btn-outline-warning d-block my-2'>Заказы по датам</a>
        <a href="{% url 'orders:top_100' %}" class='btn btn-danger d-block' >Топ 100 Товаров</a>
    </div>



{% block content %}
{% endblock %}


    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>



{% block js %}
<script>
<!-- HIDE MESSAGES -->
$(function () {
    // Hide message
    $(".alert").fadeTo(4000, 500).slideUp(500, function(){
        $(".alert").slideUp(500);
    });
});
</script>

{% endblock %}

</body>
</html>