/*  HEADER  */

.navbar { background: #9FCDFF; }

.navbar .navbar-brand { color: #343A40; }

.navbar .navbar-brand:hover {
    color: white;
    text-decoration: none;
    font-weight: bold;
}



/*  BASE PAGE  */
.help-block {
    color: #c82333;
}

.numberinput { width: 95%; }

.number-form, .order-by-date-form, body .content-orders-by-date {
    border-top: 1px solid #ede8e8;
    border-bottom: 1px solid #ede8e8;
    box-shadow: 0px 0px 7px black;
}

.form-row { padding-left: 25%; }

.number-form hr {
    width:70%;
    background: #9FCDFF;
}



/*  ADMIN PANEL  */
.admin-panel {
  border: 1px solid #999;
  border-radius: 2px;
  position:fixed;
  left: 50px;
  top: 100px;
  opacity: 0.5;
  padding: 15px;
}

.admin-panel a {
  display: block;
  margin: 5px 0px;
}

.admin-panel:hover {
  opacity: 1;
}


/*  ORDER BY DATE  */
.order-by-date-form {
    width: 50%;
    margin-left: 20%;
}


#id_start_period, #id_end_date { width: 80%; }

.order-by-date-form .form-group { padding-left: 15%; }

.order-by-date-form button {
    margin-left: 33%;
    margin-right: 3%;
}

.order-by-date-form .form-group label { padding-left: 27%; }



/*  ORDER BY DATE - TABLE  */
body .df-tables {
    margin-top: 2%;
}

body .df-tables thead {
    background: #9FCDFF;
}

body .df-tables thead tr th {
    text-align: center;
}

body .df-tables tbody tr:hover {
    background: #9FCDFF;
}

tr:nth-child(2n) {
    background: #e8edff;
}

tbody tr td:nth-child(5n) {
    text-align: left;
}